body {
  background-color: beige;
  text-align: center;
  box-sizing: border-box;
}

li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  margin-bottom: 12px;
}

button {
  cursor: pointer;
  border-style: none;
  background-color: transparent;
  font-size: 18px;
}

.container {
  margin: auto;
  background-color: rgb(246, 246, 255);
  height: 600px;
  width: 400px;
  border-radius: 24px;
  transform: translateY(40px);
}

.header {
  background-color: blue;
  font-size: 30px;
  color: white;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding: 12px 0;
}

.main {
  height: 420px;
}

.main_list {
  padding: 6px 24px;
  font-size: 20px;
}

.input_text {
  width: 100%;
  border-style: none;
  height: 35px;
  padding: 0;
}

.footer {
  background-color: blue;
  height: 65px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.create__Btn {
  margin-top: 12px;
  font-size: 30px;
  background-color: white;
  border-radius: 50%;
}
